.page-header
  %h2 Create a domain

.row
  .span10
    = form_for [:admin,@domain], :html => {:class => "form-horizontal"} do |form|
      %fieldset
        = render :partial => 'form', :locals => {:form => form}
        .form-actions
          = form.submit 'update', :class => 'btn btn-primary'
          = link_to 'Cancel', admin_domains_path, :class => 'btn'


