.page-header
  Edit

.row
  .span10
    = form_for [:admin,@trainer,@timeslot], :html => { :class => "form-horizontal"} do |form|
      %fieldset
        = render :partial => 'form', :locals => { :form => form }
        .form-actions
          = form.submit 'Edit', :class => "btn btn-primary"
          = link_to 'Cancel', admin_trainer_timeslots_path(@trainer), :class => 'btn'

