.control-group
  %label.control-label Choose a domain
  .controls= form.select :domain_id, Domain.all.map{|domain| [domain.name, domain.id]}.insert(0,["",""])

.control-group
  #cal{:style=>"display:none;"}
    Choose a slot.
