= form_for @schedule, :html => {:class => 'form-horizontal'} do |form|
  = render :partial => 'form', :locals => {:form => form} 
  .form-actions
    = form.submit 'Proceed', :class => 'btn btn-primary'
    = link_to 'Cancel', "/", :class => 'btn'
