.hero-unit
  .row-fluid
    .span9
      hello
    .span3
      %h1 Are you ready for your interview?
      %hr
      = link_to "", :class => "btn btn-primary btn-large" do
        Face a mock interview right now!
