.row
  .span2 Interviewer
  .span2 Date
  .span2 Interviewee
  .span2 Domain
- @schedules.each do |schedule|
  .row
    .span2= schedule.timeslot.trainer.email
    .span2= schedule.timeslot.date
    .span2= schedule.user
    .span2= schedule.domain.name
  