.control-group
  %label.control-label Title
  .controls= form.text_field :title
.control-group
  %label.control-label Description
  .controls= form.text_field :description
.control-group
  %label.control-label Date
  .controls= form.text_field :date, :class => 'date_picker'
.control-group
  %label.control-label Venue
  .controls= form.text_field :venue

