$navbarText : white;
@import "bootstrap";

.video {

height : 500px;
border : 1 1 1 1;
background : #E3CFD7;
}

.alerts {
height : 500px;
border : 1 1 1 1;
background : #E3CFD7;
}

.main {

margin-top : 10px;
}

.question {

background : #E3CFD7;
margin-top : 5px;
}

.active {
background : #E3CFD7;
}

.current-login {
    color: #999888;
    float: none;
    line-height: 19px;
    padding: 10px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.calendar-date {

height : 50px;
border : 1 1 1 1;
background : #DDDDDD;

}