.page-header
  All trainers

=link_to "Add a trainer", new_admin_trainer_path, :class => "btn btn-primary"

.well
  - @trainers.each do |trainer|
    .row
      .span1= trainer.email
      .pull-right.btn-group
        = link_to "manage timeslots", admin_trainer_timeslots_path(trainer),:class => "btn btn-primary"
        = link_to "delete", admin_trainer_path(trainer), :confirm=> "Are you sure", :method => "delete", :class => "btn"
    %br

